.del-icon {
  width: 30px;
}

.each-item {
  display: flex;
  flex-direction: column;
  border: 1px solid wheat;
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
  background-color: transparent;
  width: 250px;
}

.each-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-centerPart {
  display: flex;
  flex-direction: column;
}

.initial-logo {
  background-color: aqua;
  padding: 20px;
  border-radius: 100%;
  color: #ffff;
  font-weight: 700;
  font-size: 20px;
}

.item-desc {
  color: #fff;
  text-align: center;
}

.item-heading {
  color: #fff;
  text-align: center;
}

.image-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.star-image {
  width: 160px;
}

@media (min-width: 768px) {
  .each-item {
    width: 50vh;
  }
}
